<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}">
	<title>New Project</title>
</head>
<body class="bg-dark">
	<div class="container shadow-sm bg-white rounded-lg p-3 mt-3" >
		<form th:action="@{/user/addproject}" th:object="${project}" method="post">
			<div class="form-group">
				<label for="name">Name</label>
				<input type="text" th:field="*{name}" class="form-control" id="name">
			</div>
			<div class="form-group">
				<label for="description">Description</label>
				<textarea class="form-control" th:field="*{description}" id="description" rows="3"></textarea>
			</div>
			<div>
				<label for="skills">Skills</label>
				<select multiple th:field="*{skills}" class="form-control" id="skills">
					<option th:each="s : ${skills}" th:value="${s.name}" th:text="${s.name}">
				</select>
			</div>
			<div class="form-group">
				<label for="githublink">GitHub Link</label>
				<input type="text" th:field="*{githubLink}" class="form-control" id="githublink">
			</div>
			<div>
				<label for="applink">Application Link</label>
				<input type="text" th:field="*{appLink}" class="form-control" id="applink">
			</div>
			<div class="form-group">
				<div class="form-check mt-3">					
					<input type="checkbox" th:field="*{main}" class="form-check-input" id="main">
					<label for="main" class="form-check-label">Main project</label>
				</div>				
			</div>
			<input type="submit" class="btn btn-primary" value="Done">
			<a th:href="@{/user}" class="btn btn-secondary">Cancel</a>
		</form>
	</div>
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>